* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: #211510;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1203px;
  margin: 0 auto;
}

.btn {
  background: #5D7845;
  border: none;
  outline: none;
}

.clr {
  color: #F1BC7F !important;
}

.link {
  color: #FFF;
  text-align: center;
  font-family: "Noi Grotesk Fix";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.description {
  padding: 122px 133px 102px 0;
  position: relative;
}

.description img:nth-child(1) {
  position: absolute;
  right: 0;
  top: 67px;
}

.description img:nth-child(2) {
  position: absolute;
  left: 0;
  top: 206px;
}

.description .descr-content {
  border-radius: 30px;
  padding: 0 55px 21px 55px;
  border: 1px solid #F1BC7F;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 48px;
}

.description .descr-content figure img {
  position: relative;
  top: -31px;
}

.description .descr-content .content-box {
  max-width: 476px;
  padding-top: 49px;
}

.description .descr-content .content-box p {
  color: #FFF;
  font-family: "Noi Grotesk Fix";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description .descr-content .content-box p:nth-child(2) {
  margin-top: 15px;
  color: #F1BC7F;
}

.intro {
  position: relative;
}

.intro video {
  width: 100%;
  border-radius: 30px;
}

.intro .content-container, .intro .content-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 0;
  margin-top: 13px;
  padding-right: 139px;
}

.intro .content-container figure .coffee-overlay, .intro .content-top figure .coffee-overlay {
  display: none;
}

.intro .content-container .intro-bg-1, .intro .content-top .intro-bg-1 {
  position: absolute;
  left: 0;
  z-index: 12;
  top: 232px;
}

.intro .content-container .intro-bg-1-744, .intro .content-top .intro-bg-1-744 {
  position: absolute;
  left: 0;
  top: 148px;
  z-index: 12;
  display: none;
}

.intro .content-container .intro-bg-3, .intro .content-top .intro-bg-3 {
  position: absolute;
  right: 0;
  top: 609px;
}

.intro .content-container .intro-bg-3-744, .intro .content-top .intro-bg-3-744 {
  position: absolute;
  right: 0;
  top: 365px;
  display: none;
}

.intro .content-container .intro-bg-1-480, .intro .content-top .intro-bg-1-480 {
  position: absolute;
  left: 0;
  top: 365px;
  display: none;
}

.intro .content-container .content-img, .intro .content-top .content-img {
  margin-left: -47px;
  position: relative;
  left: 31px;
  top: 10px;
}

.intro .content-container .content-box, .intro .content-top .content-box {
  padding-right: 50px;
}

.intro .content-container .content-box h2, .intro .content-top .content-box h2 {
  color: #FFF;
  font-family: "Noi Grotesk Fix";
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
}

.intro .content-container .content-box span, .intro .content-top .content-box span {
  display: block;
}

.intro .content-container .content-box span:nth-child(2), .intro .content-top .content-box span:nth-child(2) {
  display: inline-block;
}

.intro .content-container .content-box .text-box, .intro .content-top .content-box .text-box {
  padding: 30px 0;
  min-width: 483px;
  position: relative;
  z-index: 10;
}

.intro .content-container .content-box .text-box p, .intro .content-top .content-box .text-box p {
  color: #FFF;
  font-family: "Noi Grotesk Fix";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.intro .content-container .content-box .text-box p:first-child, .intro .content-top .content-box .text-box p:first-child {
  margin-bottom: 11px;
}

.intro .content-container .content-box .content-btn, .intro .content-top .content-box .content-btn {
  position: relative;
  z-index: 12;
  border-radius: 30px;
}

.intro .content-container .content-box .content-btn a, .intro .content-top .content-box .content-btn a {
  color: #FFF;
  font-family: "Noi Grotesk Fix";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 0;
  padding: 12px 19.308px 11.3px 35px;
  width: 50px;
  height: 50px;
  transition: 0.5s;
}

.intro .content-container .content-box .content-btn a p, .intro .content-top .content-box .content-btn a p {
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
}

.intro .content-container .content-box .content-btn a img, .intro .content-top .content-box .content-btn a img {
  transition: 0.5s;
  position: relative;
  left: -88px;
}

.intro .content-container .content-box .content-btn:hover p, .intro .content-top .content-box .content-btn:hover p {
  display: inline-block;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.5s;
}

.intro .content-container .content-box .content-btn:hover a, .intro .content-top .content-box .content-btn:hover a {
  width: 243px;
}

.intro .content-container .content-box .content-btn:hover a img, .intro .content-top .content-box .content-btn:hover a img {
  left: 0;
}

.intro .statistic {
  margin-top: 39px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 0;
  padding: 0 109px 0 136px;
}

.intro .statistic .natural {
  padding-left: 10px;
}

.intro .statistic span {
  color: #FFF;
  font-family: "Noi Grotesk Fix";
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  color: #F1BC7F;
}

.intro .statistic p {
  color: #FFF;
  font-family: "Noi Grotesk Fix";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 169px;
}

.intro .coffee-overlay {
  width: 1000px;
  height: 143px;
  background: linear-gradient(0deg, #211510 0%, rgba(33, 21, 16, 0) 100%);
  position: absolute;
  bottom: -33px;
  left: -100%;
}

.products-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 45px 31px;
}

.products-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 0;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.products .product-photos {
  position: relative;
  z-index: 3;
}

.products .product-photos .light-back {
  position: absolute;
  top: 137px;
  left: 50%;
  transform: translateX(-50%);
  width: 154px;
  height: 170.299px;
  background-color: #F1BC7F;
  filter: blur(75px);
  z-index: -1;
}

.products .product-photos .black-back {
  position: absolute;
  bottom: 7px;
  width: 425px;
  height: 39px;
  border-radius: 425px;
  background: #211510;
  filter: blur(25px);
}

.products .product-info {
  position: absolute;
  top: calc(100% - 46px);
  z-index: 2;
  border-radius: 20px;
  background: #5D7845;
  max-width: 380px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  height: auto;
  max-height: 97px;
  transition: max-height 0.3s ease;
}

.products .product-info:hover {
  max-height: 266px;
  transition: 0.5s;
}

.products .product-info:hover p {
  opacity: 1;
}

.products .product-info h3 {
  color: #FFF;
  font-family: "Noi Grotesk Fix";
  font-size: 30px;
  font-weight: 600;
  padding: 33px 0 18px 0;
}

.products .product-info p {
  color: #FFF;
  font-family: "Noi Grotesk Fix";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0;
}

.products .product-info .clr {
  margin: 17px 0;
}

.products .product-info .purchase {
  margin-bottom: 31px;
  display: inline-block;
}

.products .product-info .purchase a {
  display: block;
}

.products .product-info .purchase a:not(:nth-child(2)) {
  margin-bottom: 13px;
}

footer {
  background: linear-gradient(0deg, #211510 0%, rgba(33, 21, 16, 0) 100%);
  position: relative;
  padding-top: 105px;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 0;
  flex-direction: column;
}

footer .nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 74px;
}

footer .nav-menu .nav-link {
  color: #FFF;
  font-family: "Noi Grotesk Fix";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer .brand-logo {
  margin: 50px 0;
}

footer .social ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 25px;
}

footer .author {
  margin: 51px 0 35px 0;
}

footer .author p {
  color: #FFF;
  font-family: "Noi Grotesk Fix";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

footer .author p a {
  color: #fff;
}

footer .footer-postion-1440 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

footer .footer-postion-744 {
  position: absolute;
  right: 0;
  bottom: 10px;
  z-index: -1;
}

footer .footer-postion-480 {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  z-index: -1;
}

header .container {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0 19.2%;
}

header .container .bars-icon {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  display: none;
}

header .nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 74px;
}

header .nav-menu .nav-link {
  color: #FFF;
  font-family: "Noi Grotesk Fix";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: calc(100% - 240px);
  }
  .products-cards {
    grid-template-columns: repeat(auto-fill, minmax(379px, 1fr));
  }
}
@media screen and (max-width: 1100px) {
  .container {
    max-width: calc(100% - 120px);
  }
  header .brand-logo svg {
    width: 113px;
    height: 40px;
  }
  header .container {
    gap: 0px 113px;
  }
  header .nav-menu {
    gap: 0px 40px;
  }
  .intro .intro-bg-1 {
    width: 324px;
    top: 330px !important;
  }
  .intro .content-img img {
    width: 550px;
  }
  .intro .content-box {
    padding-right: 109px;
  }
  .intro .content-box h2 {
    font-size: 30px !important;
  }
  .intro .content-box h2 span:nth-child(1) {
    display: inline-block;
  }
  .intro .content-box .content-btn {
    padding: 0px;
  }
  .intro .statistic {
    padding: 0 80px 0 106px;
  }
}
@media screen and (max-width: 1054px) {
  .intro video {
    width: 100%;
    height: 249.496px;
  }
  .intro .content-container {
    padding: 10px 74px 0 0;
  }
  .intro .content-container .intro-bg-1 {
    display: none;
    width: 388.357px;
    height: 390.094px;
    transform: rotate(-0.593deg);
    object-fit: cover;
  }
  .intro .content-container .intro-bg-1-744 {
    display: block !important;
  }
  .intro .content-container .content-img {
    left: 18px !important;
    top: -1px !important;
  }
  .intro .content-container .content-img img {
    width: 514px;
    height: 342px;
    position: relative;
  }
  .intro .content-container .content-box {
    padding-right: 70px !important;
    position: relative;
    right: 43px;
  }
  .intro .content-container .content-box h2 {
    font-size: 30px !important;
    line-height: 35px !important;
  }
  .intro .content-container .text-box {
    min-width: 391px !important;
    padding: 10px 0 20px 0 !important;
  }
  .intro .content-container .text-box p {
    font-size: 14px;
    font-weight: 400;
  }
  .intro .content-container .content-btn img {
    display: none;
  }
  .intro .content-container .content-btn a {
    padding: 14px 21px !important;
  }
  .intro .content-container .intro-bg-3 {
    display: none;
  }
  .intro .content-container .intro-bg-3-744 {
    display: block;
  }
  .intro .statistic {
    padding: 0px 32px 0 51px;
    margin-top: 29px;
  }
  .intro .statistic .natural {
    padding-left: 29px;
  }
  .intro .statistic p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1012px) {
  footer .brand-logo {
    margin: 40px 0px 31px 0px;
  }
  footer .author {
    margin: 27px 0px 45px 0px;
  }
  footer .footer-postion-1440 {
    display: none;
  }
  .products-cards {
    grid-template-columns: auto auto;
    row-gap: 0;
  }
  .products-card {
    height: 549px;
  }
  .products .product-photos .product-photo {
    width: 284px;
    height: 336px;
  }
  .products .product-info {
    position: relative;
    bottom: 46px;
    top: unset;
    pointer-events: none;
    min-height: 252px;
  }
  .products .product-info h3 {
    font-size: 20px;
    padding: 45px 0 10px 0;
  }
  .products .product-info p {
    opacity: 1;
    font-size: 14px;
  }
  .products .product-info .clr {
    margin: 10px 0 44px 0;
  }
  .products .product-info .purchase {
    margin-bottom: 41px;
    display: inline-block;
  }
  .products .product-info .purchase a {
    font-size: 16px;
    display: block;
  }
  .products .product-info .purchase a:not(:nth-child(2)) {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 744px) {
  .container {
    max-width: calc(100% - 120px);
  }
  header .container {
    gap: 0px 113px;
  }
  .intro .statistic {
    padding: 0px 3px 0 49px;
    margin-top: 29px;
  }
  .intro .statistic .natural {
    padding-left: 29px;
  }
  .intro .statistic p {
    font-size: 14px;
  }
  footer .nav-menu {
    flex-direction: column;
    row-gap: 20px;
  }
}
@media screen and (max-width: 730px) {
  header .container {
    align-items: center;
    justify-content: center;
    position: relative;
  }
  header .container .bars-icon {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  header .container nav {
    display: none;
  }
  .intro video {
    width: 100%;
    height: 156px;
    flex-shrink: 0;
  }
  .intro .content-container {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 0;
  }
  .intro .content-container figure .coffee-overlay {
    display: block;
    bottom: 37px;
  }
  .intro .content-container .content-img img {
    width: 381px;
    height: 253px;
    position: relative;
    left: -20px;
  }
  .intro .content-container .content-box {
    min-width: initial;
    width: 100%;
    right: 0;
    padding: 0 !important;
  }
  .intro .content-container .text-box {
    padding: 11px 28px 20px 0 !important;
    min-width: initial !important;
  }
  .intro .content-container .content-btn {
    margin-left: 75px;
  }
  .intro .content-container .content-btn a {
    padding: 12px 25.308px 11.3px 26px !important;
  }
  .intro .content-container .content-btn img {
    display: block;
    margin-left: 14px;
  }
  .intro .content-container .intro-bg-1-744 {
    display: none !important;
  }
  .intro .content-container .intro-bg-1-480 {
    display: block;
    top: 108px;
  }
  .intro .content-container .intro-bg-3-744 {
    top: 323px;
    right: -137px;
    width: 340.146px;
    height: 341.667px;
    transform: rotate(-0.593deg);
    object-fit: contain;
  }
  .intro .statistic {
    padding: 0 50px 0 0;
    align-items: start;
    margin-top: 65px;
  }
  .intro .statistic span {
    font-size: 35px;
    line-height: 35px;
  }
  .intro .statistic p {
    max-width: 103px;
  }
  .intro .statistic .natural {
    padding-left: 18px;
  }
  .products-cards {
    grid-template-columns: auto;
  }
  footer .footer-postion-744 {
    display: none;
  }
  footer .footer-postion-480 {
    right: 18px;
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .container {
    max-width: calc(100% - 40px);
  }
  header .container {
    padding: 10px 0;
  }
  header .container .brand-logo svg {
    width: 84px;
    height: 30px;
  }
  .intro .content-container .content-btn {
    margin-left: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 479px) {
  .intro .statistic {
    padding: 0;
  }
}

/*# sourceMappingURL=main.css.map */
