@use '../utils/mixin';

.description
{
    padding: 117px 104px 102px 99px;
    .container
    {
        border-radius: 30px;
        border: 1px solid #F1BC7F;
    }
    .descr-content
    {
        position: relative;
        @include mixin.flex(center,space-between,0,21px);
        padding: 0px 55px 0px;
        figure 
        {
            position: relative;
            top: -31px;
        }
        .content-box
        {
            max-width: 476px;
            width: 100%;
            p 
            {
                &:nth-child(2)
                {
                    color: #F1BC7F;
                    margin-top: 15px;
                }
                @include mixin.medium-font;
            }
        }
    }
}