@use '../utils/mixin';

.description
{
    padding: 122px 133px 102px 74px;
    .container
    {
        border-radius: 30px;
        border: 1px solid #F1BC7F;
    }
    .descr-content
    {
        position: relative;
        @include mixin.flex(center,center,0,0);
        padding: 49px 55px 43px;
        figure 
        {
            position: relative;
            left: 0;
            top: 0;
            width: 362px;
            height: 256px;
            img 
            {
                position: absolute;
                top: -46px;
                left: 55px;
                bottom: 21px;

            }
        }
        .content-box
        {
            max-width: 476px;
            width: 100%;
            p 
            {
                &:nth-child(2)
                {
                    color: #F1BC7F;
                    margin-top: 15px;
                }
                @include mixin.medium-font;
            }
        }
    }
}