@use '../utils/mixin';

.intro
{
    position: relative;
    video 
    {
        width: 100%;
        border-radius: 30px;
    }
    .content-container, .content-top
    {
        figure 
        {
            position: relative;
           
            .vapour-box
            {
                position: absolute;
                left: 31%;
                top: 21%;
            }
            // bug
            .vapour {
                position: relative;
                display: flex;
                z-index: 1;
                padding: 0 20px;
              }
              .vapour span {
                position: relative;
                bottom: 50px;
                display: block;
                margin: 0 2px 50px;
                min-width: 8px;
                height: 120px;
                background: #fff;
                animation: animate 5s linear infinite;
                animation-delay: calc(var(--i) * -0.5s);
                filter: blur(8px);
                border-radius: 50%;
                opacity: 1;
              }
              @keyframes animate {
                0% {
                  transform: translateY(0) scaleX(1);
                  opacity: 0;
                }
                15% {
                  opacity: 1;
                }
                50% {
                  transform: translateY(-150px) scaleX(5);
                }
                95% {
                  opacity: 0;
                }
                100% {
                  transform: translateY(-300px) scaleX(10);
                  opacity: 0;
                }
              }
            .coffee-overlay
            {
                display: none;
            }
        }
        @include mixin.flex(center,center,0,0);
        margin-top: 13px;
        padding-right: 139px;
        .intro-bg-1
        {
            position: absolute;
            left: 0;
            z-index: 12;
            top: 232px;
        }
        .intro-bg-1-744
        {
            position: absolute;
            left: 0;
            top: 148px;
            z-index: 12;
            display: none;
        }
        .intro-bg-3
        {
            position: absolute;
            right: 0;
            top: 609px;
        }
        .intro-bg-3-744
        {
            position: absolute;
            right: 0;
            top: 365px;
            display: none;
        }
        .intro-bg-1-480
        {
            position: absolute;
            left: 0;
            top: 365px;
            display: none;
        }
        .content-img
        {
            margin-left: -47px;
            position: relative;
            left: 31px;
            top: 10px;
        }
        .content-box
        {
            
            padding-right: 50px;
            h2 
            {
                @include mixin.h2;
            }
            span 
            {
                display: block;
                &:nth-child(2)
                {
                    display: inline-block;
                }
            }
            .text-box
            {
                padding: 30px 0;
                min-width: 483px;
                position: relative;
                z-index: 10;
                p 
                {
                    &:first-child
                    {
                        margin-bottom: 11px;
                    }
                    @include mixin.medium-font;
                }
            }
            .content-btn
            {
                position: relative;
                z-index: 12;
                a 
                {
                    @include mixin.medium-font;
                    @include mixin.flex(center,center,0,0);
                    padding: 12px 19.308px 11.3px 35px;
                    width: 50px;
                    height: 50px;
                    transition: 0.5s;
                    p 
                    {
                        // transition: 0.5s;
                        visibility: hidden;
                        opacity: 0;
                        white-space: nowrap;
                        
                    }
                    img 
                    {
                        transition: 0.5s;
                        position: relative;
                        left: -88px;
                    }
                }
                border-radius: 30px;
                &:hover 
                {
                    p 
                    {
                        display: inline-block;
                        visibility: visible;
                        opacity: 1;
                        transition-delay: 0.5s;
                    }
                    a 
                    {
                        width: 243px;
                        img 
                        {
                            left: 0;
                        }
                    }
                }
            }
        }
    }
    .statistic
    {
        margin-top: 39px;
        @include mixin.flex(center,space-between,0,0);
        padding: 0 109px 0 136px;
        .natural
        {
            padding-left: 10px;
        }
        span 
        {
            @include mixin.h2;
            color: #F1BC7F;
        }
        p 
        {
            @include mixin.medium-font;
            max-width: 169px;
        }
    }
    .coffee-overlay
    {
        width: 1000px;
        height: 143px;
        background: linear-gradient(0deg, #211510 0%, rgba(33, 21, 16, 0.00) 100%);
        position: absolute;
        bottom: -33px;
        left: -100%;
    }
}
