// call mixin
@use "../utils/mixin";

.why-wrime
{
    text-align: center;
    padding-top: calc(47px + 150px);
    padding-bottom: 160px;
    h2 
    {
        @include mixin.h2;
        margin-bottom: 40px;
    }
    .why-wrime-cards
    {
        @include mixin.flex(center,center,0,0);
    }
    .why-wrime-card
    {
        &:not(:last-child)
        {
            margin-right: 91px;
        }
        p 
        {
            width: 216px;
            color: #FFF;
            text-align: center;
            font-family: "Noi Grotesk Fix";
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-top: 8px;
        }
    }
}