// custom css
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body
{
    background: #211510;
    font-family: "Noi Grotesk Fix";
}

.wrapper
{
    overflow: hidden;
}

.container
{
    max-width: 1203px;
    margin: 0 auto;
}

.btn
{
    background: #5D7845;
    border: none;
    outline: none;
}
// spicefic
.clr
{
    color: #F1BC7F !important;
}

// link
.link 
{
    color: #FFF;
    text-align: center;
    font-family: "Noi Grotesk Fix";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
}
// input
.input 
{
    border-radius: 50px;
    border: 1px solid #D9D9D9;
    background: rgba(255, 255, 255, 0.10);
    padding: 15px 0 16px 20px;
    outline: none;
    &::placeholder
    {
        color: #FFF;
        font-family: "Noi Grotesk Fix";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}