@media screen and (max-width: 1440px) {
    .container
    {
        max-width: calc(100% - 240px);
    }
    // products
    .products
    {
        &-cards 
        {
            grid-template-columns: repeat(auto-fill, minmax(379px, 1fr));
        }
    }
   
}

@media screen and (max-width: 1200px) {
//   why wrime
    .why-wrime
    {
        .why-wrime-card
        {
            &:not(:last-child)
            {
                margin-right: 71px;
            }
        }
    }
    // riview
    .riview
    {
        .container
        {
            max-width: 100%;
        }
    }
    // description
    .description
    {
        padding: 96px 0 102px 0;
        figure
        {
            top: 0 !important;
            img 
            {
                
                width: 276px;
                height: 195px;
            }
        }
        .descr-content
        {
            padding: 0px 11px 0px 0px;
            justify-content: center;
        }
        .content-box
        {
            padding: 37px 0 30px 0;

            p 
            {
                font-size: 14px !important;
                font-weight: 400 !important;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .container 
    {
        max-width: calc(100% - 120px);
    }
    // header
    header
    {
        .brand-logo
        {
            svg
            {
                width: 113px;
                height: 40px;
            }
        }
        .container
        {
            gap: 0px 113px;
        }
        .nav-menu
        {
            gap: 0px 40px;
        }
    }
    // .intro
    .intro
    {
        .intro-bg-1
        {
            width: 324px;
            top: 330px !important;
        }
        .content-img
        {
            img 
            {
                width: 550px;
            }
            .vapour-box
            {
                position: absolute;
                left: 31%;
                top: 21%;
                span 
                {
                    min-width: 4px !important;
                }
            }
        }
        .content-box
        {
            padding-right: 109px;
            h2 
            {
                font-size: 30px !important;
                span 
                {
                    &:nth-child(1)
                    {
                        display: inline-block;
                    }
                }
            }
            .content-btn
            {
                padding: 0px;
            }

        }
        // .statistic
        .statistic
        {
            padding: 0 80px 0 106px;
        }
    }
    // why wrime
    .why-wrime
    {
        h2 
        {
            font-size: 30px;
            line-height: 35px;
            margin-bottom: 29px;
        }
        .why-wrime-card
        {
            &:not(:last-child)
            {
                margin-right: 58px;
            }
            img 
            {
                width: 45px;
                height: 45px;
            }
            p 
            {
                font-size: 16px;
                font-weight: 600;
                max-width: 113px;
                margin-top: 2px;
            }
        }
    }
    
}

// 1054px
@media screen and (max-width: 1054px) {
    // intro
    .intro
    {
        video 
        {
            width: 100%;
            height: 249.496px;
        }
        .content-container
        {   
            padding: 10px 74px 0 0;
            .intro-bg-1
            {
                display: none;
                width: 388.357px;
                height: 390.094px;
                transform: rotate(-0.593deg);
                object-fit: cover;
                
            }
            .intro-bg-1-744
            {
                display: block !important;
            }
            .content-img
            {
                left: 18px !important;
                top: -1px !important;
                img 
                {
                    width: 514px;
                    height: 342px;
                }
            }
            .content-box
            {
                padding-right: 70px !important;
                position: relative;
                right: 43px;
                h2 
                {
                    font-size: 30px !important;
                    line-height: 35px !important;
                }
                
            }
            .text-box
            {
                    min-width: 391px !important;
                    padding: 10px 0 20px 0 !important;
                    p 
                    {
                        font-size: 14px;
                        font-weight: 400;
                    }
            }
            .content-btn
            {
                img 
                {
                    display: none;
                }
                a 
                {
                    padding: 14px 21px !important;
                }
            }
            .intro-bg-3
            {
                display: none;
            }
            .intro-bg-3-744
            {
                display: block;
            }
        }
        // .statistic
        .statistic
        {
            padding: 0px 32px 0 51px;
            margin-top: 29px;
            .natural
            {
                padding-left: 29px;
            }
            p 
            {
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 1012px) {
//    footer
    footer 
    {
        .brand-logo
        {
            margin: 40px 0px 31px 0px;
        }
        .author
        {
            margin: 21px 0px 64px 0px;
            p 
            {
                &:last-child
                {
                    margin-top: 11px;
                }
            }
        }
        .footer-postion-1440
        {
            display: none;
        }
    }
    // products
    .products
    {
        &-cards 
        {
            grid-template-columns: auto auto;
            row-gap: 0;
        }
        &-card 
        {
            height: 549px;
        }
        .product-photos
        {
            .product-photo
            {
                width: 284px;
                height: 336px;
            }
        }
        .product-info
        {
            position: relative;
            bottom: 46px;
            top: unset;
            min-height: 252px;
            z-index: 2;
            h3 
            {
                font-size: 20px;
                padding: 45px 0 10px 0;
            }
            p 
            {
                opacity: 1;
                font-size: 14px;
                padding: 0 21px;
            }
            .clr 
            {
                margin: 10px 0 44px 0;
            }
            .purchase
            {
                margin-bottom: 41px;
                display: inline-block;
                a 
                {
                    font-size: 16px;
                    display: block;
                    &:not(:nth-child(2))
                    {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    // buy
    .buy
    {
        h2 
        {
            font-size: 30px;
            line-height: 35px;
            margin-bottom: 30px;
        }
        .buy-link
        {
            column-gap: 50px;
        }
        img 
        {
            width: 100px;
            height: 100px;
        }
    }
    // riviews
    .riview
    {
        margin-top: 100px;
        h2 
        {
            font-size: 30px;
            line-height: 35px;
        }
        .swiper
        {
            &-slide 
            {
                min-width: 216px;
            }
            margin-top: 30px;
            .slide-nav
            {
                padding: 16px 20px 10px 20px;
                h3 
                {
                    font-size: 16px;
                    font-weight: 700;
                }
            }
            .review-content
            {
                font-size: 14px;
            }
        }
    }
}

// 900px
@media screen and (max-width: 900px) {
    // question form
    .question
    {
        margin-top: 85px;
        h2 
        {
            font-size: 30px;
            line-height: 50px;
            margin-bottom: 30px;
        }
        form 
        {
            column-gap: 19px;
            padding-left: 0;
            .left-input
            {
                input, .select
                {
                    min-width: unset;
                    width: 302px;
                }
            }
            .right-input
            {
                textarea
                {
                    min-width: unset;
                    width:302px;
                }
                .alert
                {
                    display: none !important;
                }
                .btn 
                {
                    width: 100%;
                }
            }
            
        }
        .alert-744
        {
            display: block;
        }
    }
    // subsicribe
    .subsicribe
    {
        margin-top: 111px;
        form 
        {
            h4 
            {
                font-size: 14px;
                margin-right: 17px;
                max-width: 198px;
            }
            input 
            {
                min-width: 245px;
            }
            .btn 
            {
                padding: 15px 29px 16px 28px;
                // max-width: 156px;
            }
        }
    }
    // intro
    .intro
    {
        .intro-video-container
        {
            .control
            {
               top: 99px;
               left: 451px;
               button 
               {
                    img 
                    {
                        width: 50px;
                        height: 50px;
                    }
               }
            }
        }
        .text-box
        {
            p 
            {
                font-size: 14px !important;
            }
        }
    }
    // footer
    footer 
    {
        padding-top: 131px;
        .brand-logo
        {
            img 
            {

                width: 112.567px;
                height: 39.998px;
            }
        }
    }
    .why-wrime
    {
        padding-top: 36px;
        padding-bottom: 101px;
    }
    // description
    .description
    {
        .container
        {
            max-width:674px;
            height: 246px;
        }
        .descr-content
        {
            padding: 0px 31px 0px 0px;
            figure 
            {
                left: 26px;
            }
        }
        .content-box
        {
            padding: 37px 0 30px 26px;
        }
    }
}

// 744px
@media screen and (max-width: 744px) {
    .container
    {
        max-width: calc(100% - 120px);
    }
    // header
    header
    {
        .container
        {
            gap: 0px 113px;
        }
    }
    // .intro
    .intro
    {
        .content-img 
        {
            .vapour-box
            {
                left: 25% !important;
                top: 9% !important;
                .vapour
                {
                    span 
                    {
                        min-width: 2px !important;
                    }

                }
            }
        }
        // .statistic
        .statistic
        {
            padding: 0px 3px 0 49px;
            margin-top: 29px;
            .natural
            {
                padding-left: 29px;
            }
            
            p 
            {
                font-size: 14px;
            }
        }
    }
    // products
    // footer
    footer 
    {
        .brand-logo 
        {
            width: 112.567px;
            height: 39.998px;

        }
    }
    
    // .question
    .question
    {
        .alert-744
        {
            text-align: start;
        }
    }
}

@media screen and (max-width: 730px){
    // header
    header
    {
        .container
        {
            align-items: center;
            justify-content: center;
            position: relative;
            .bars-icon
            {
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
            nav
            {
                display: none;
            }
        }
    }

    // intro 
    .intro
    {
        video 
        {
            width: 100%;
            height: 156px;
            flex-shrink: 0;
        }
        .intro-video-container
        {
            .control
            {
                top: 62px;
                left: 281px;
                button 
                {
                    img 
                    {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
        .content-container
        {
            figure 
            {
                .coffee-overlay
                {
                    display: block;
                    bottom: 37px;
                }
            }
            flex-direction: column;
            align-content: center;
            justify-content: center;
            padding: 0;
            .content-img
            {
                img 
                {
                    width: 381px;
                    height: 253px;
                    position: relative;
                    left: -20px;
                }
            }
            .content-box
            {
                min-width: initial ;
                width: 100%;
                right: 0;
                padding: 0 !important;
                
            }
            .text-box
            {
                padding: 11px 28px 20px 0 !important;
                min-width: initial !important;
            }
            .content-btn
            {
                margin-left: 75px;
                a 
                {
                    padding: 12px 25.308px 11.3px 26px !important;
                }
                img 
                {
                    display: block;
                    margin-left: 14px;
                }
            }
            .intro-bg-1-744
            {
                display: none !important;
            }
            .intro-bg-1-480
            {
                display: block;
                top: 108px;
            }
            .intro-bg-3-744
            {
                top: 323px;
                right: -137px; // -84px
                width: 340.146px;
                height: 341.667px;
                transform: rotate(-0.593deg);
                object-fit: contain;
            }
        }
        // /.statistic
        .statistic
        {
            padding: 0 50px 0 0;
            align-items: start;
            margin-top: 65px;
            span 
            {
                font-size: 35px;
                line-height: 35px;
            }
            p 
            {
                max-width: 103px;
            }
            .natural
            {
                padding-left: 18px;
            }
        }
    }
    // products
    .products
    {
        &-cards 
        {
            grid-template-columns: auto auto;
        }
        &-card
        {
            .product-photo
            {
                width: 188px !important;
                height: 222px !important;
            }
        }
        .product-info
        {
            h3 
            {
                padding: 39px 0 6px 0;
            }
            p 
            {
                font-size: 12px;
            }
            .clr
            {
                font-size: 12px;
                margin: 6px 0 30px 0;
            }
            .link
            {
                font-size: 14px !important;
                font-weight: 700;
            }
        }
    }
    // footer
    footer 
    {
        .nav-menu
        {
            flex-direction: column;
            row-gap: 20px;
        }
        .footer-postion-744
        {
            display: none;
        }
        .footer-postion-480
        {
            right: 0;
            display: block;
        }
    }
    // why wrime
    .why-wrime
    {
        .why-wrime-cards
        {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(113px, 1fr));
            gap: 37px 93px ;
        }
        .why-wrime-card
        {
            margin-right: 0 !important;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            p
            {
                margin-top: 4px;
            }
        }
    }
    // .question
    .question
    {
        form 
        {
            flex-direction: column;
            row-gap: 10px;
            input, .select, textarea, button, .left-input, .right-input
            {
                width: 100% !important;
            }
            .select
            {
                .option-menu
                {
                    background-color: #211510;
                }
            }
        }
        .alert-744
        {
            text-align: center;
        }
    }
    // subsicribe
    .subsicribe
    {
        form 
        {
            h4 
            {
                max-width: 295px;
                margin: 0;
                margin-bottom: 20px;
            }
            flex-direction: column;
            .input 
            {
                min-width: 235px;
            }
            .btn 
            {
                padding: 15px 22px 16px 21px;
            }
        }
    }
    // description
    .description
    {
        .container
        {
            max-width: calc(100% - 120px);
            height: auto;
        }
        .descr-content
        {
            flex-direction: column;
            figure 
            {
                position: absolute;
                top: -122px !important;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .content-box
        {
            padding: 103px 35px 42px 40px;
        }
    }
    // products
    .products
    {
        &-card 
        {
            .light-back
            {
                top: 68px !important;
                width: 107px !important;
                height: 119px !important;
            }
            .black-back
            {
                width: 205px !important;
                height: 20px !important;
                left: -9px;
            }
        }
    }
    
}

// 729
@media screen and (max-width: 729px) {
//    description
    .description
    {
        padding: 185px 48px 0px 0;
        .container
        {
            max-width: 390px;
            height: 308px;
        }
        .descr-content
        {
            figure 
            {
                left: 39px;
                transform: translateX(0);
            }
        }
        .content-box
        {
            padding: 103px 0 42px 40px;
            p:nth-child(2)
            {
                margin-top: 11px !important;
            }
        }
        
    }
    // products
    .products
    {
        padding-top: 34px;
        .products-card
        {
            height: 425px;
        }
        .product-info
        {
            width: 189px;
            height: 242px;
        }
    }
    // why-wrime
    .why-wrime
    {
        padding-top: 18px;
        padding-bottom: 88px;
    }
    // review
    .riview
    {
        margin-top: 74px;
    }
    // question
    .question
    {
        margin-top: 59px;
        h2 
        {
            margin-bottom: 20px;
        }
        form .right-input .right-input-bottom
        {
            margin-top: 3px;
        }
        .alert-744
        {
            text-align: start;
        }
    }
    // subsicribe
    .subsicribe
    {
        margin-top: 79px;
    }
    // footer
    footer
    {
        padding-top: 121px;
        .author
        {
            margin: 40px 0px 72px 0px;
        }
    }
}

// 480px
@media screen and (max-width: 480px) {
    .container
    {
        max-width: calc(100% - 40px);
        
    }
    // header
    header
    {
        .container
        {
            padding: 10px 0;
            .brand-logo
            {
                svg
                {
                    width: 84px;
                    height: 30px;
                }
            }
        }
    }
    // .intro
    .intro
    {
        .content-container
        {
            .content-btn
            {
                margin-left: 0;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
       
    }
    // description
    .description
    {
        padding-bottom: 0 !important;
        .descr-content
        {
            p 
            {
                max-width: 315px;
            }
        }
    }
    // .products
    
}

@media screen and (max-width: 479px) {
    .intro
    {
        // .statistic
        .statistic
        {
            padding: 0;
        }
    }
    // description
    .description
    {
        padding: 185px 0 102px 0;
        .container
        {
            max-width: calc(100% - 120px);
            height: auto;
        }
        .content-box
        {
            padding: 103px 0 20px 20px;
        }
    }
    .products
    {
        &-cards
        {
            grid-template-columns: auto;
        }
        .products-card
        {
            width: 100% !important;
            .product-info
            {
                width: 100%;
            }
        }
    }
    
}

@media screen and (max-width: 420px) {
    // subsicribe
    .subsicribe
    {
        form 
        {
            .input-box
            {
                width: 100%;
                flex-direction: column;
                row-gap: 10px;
                .input, .btn 
                {
                    min-width: unset;
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
    }
    // .description
    .description
    {
        .descr-content
        {
            padding: 10px;
            figure 
            {
                left: 0;
            }
        }
        .content-box
        {
            padding-top: 80px;
        }
    }
}